DISCORD_TOKEN=seu_token_aqui
CHANNEL_ID=123456789012345678
RCON_HOST=127.0.0.1
RCON_PORT=34198
RCON_PASSWORD=sua_senha_rcon_aqui
SERVER_LOG=~/factorio/server.log
FACTORIO_LOG=~/factorio/factorio/factorio-current.log
